.App {
 display: flex;
 flex-direction: column;
 width: 700px;
 height: 100vh;
 margin: auto;
 justify-content: center;
}
.mainContent{
  box-shadow: 1px 1px 20px #000;
  background-color: #eee;
  padding: 40px;
  display: flex;
  border-radius: 10px;
  flex-direction: column;
}
.mainContent strong{
  color:#079992;
}
.loading{
  text-transform: capitalize;
  padding: 10px 0;
  color: #079992;
}
 .errorMessage{
  color: #eb2f06;
  text-transform: capitalize;
  padding: 10px 0;
}
.description{
  order:2
}
.formInput{
  order: 1;
  display: flex;
}
.formInput input{
  flex: 1;
  height: 10px;
  padding: 10px;
  font-size: 16px;
  outline: none;
}
.formInput button{
  height: 34px;
  color: #fff;
  width: 100px;
  font-size: 16px;
  background-color: #0c2461;
  outline: none;
  cursor: pointer;
}